
/* collage.css by Taylor A. Johnson */

*{
	margin:0;
	padding:0;
}


/* spatial */

/* .horizontal-scroll-wrapper {
  width: 100px;
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.horizontal-scroll-wrapper > div {
  width: 100px;
  height: 100px;
}

.horizontal-scroll-wrapper {
  ...
  transform: rotate(-90deg);
  transform-origin: right top;
}

.horizontal-scroll-wrapper > div {
  ...
  transform: rotate(90deg);
  transform-origin: right top;
}

.horizontal-scroll-wrapper {
  ...
  transform:rotate(-90deg) translateY(-100px);
  ...
} */

body {
	background-color: #F2F2FD;
  /* display: block: */
	color: #4F262C;
}

/* tr {
  vertical-align: top;
} */

/* .scrolling-wrapper-flexcard- {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  height: auto;

  .card {
    flex: 0 0 auto;
  }
} */

.workspace {
  margin: auto;
  width: 38em;
  height: 50em;
  /* background-color: black; */
	padding-top: 10%;
}

img {
	width: 20em;
	height: auto;
  /* margin: auto; */
}

img:hover {
  cursor: cell;

}

.title {
  /* position: fixed; */
	padding: 1em;
	padding-left: 2em;
}

h1 {
	font-family: 'Lato', sans-serif;
	font-size: 2em;
	position: fixed;
	letter-spacing: .2em;

}

h2 {
	font-family: 'Lato', sans-serif;
	font-size: .75em;
	position: fixed;
	padding-top: 40px;
	letter-spacing: 0.0625em;
}

h3 {
	font-family: 'Lato', sans-serif;
	font-size: .50em;
	position: fixed;
	padding-top: 43px;
	letter-spacing: 0.0625em;
}

.card-1 {
	position: absolute;
  margin-top: 1.3em;
	margin-left: 1em;
}

.card-2 {
	position: absolute;
  margin-top: 1.5em;
	margin-left: 2.7em;
}

.card-3 {
	position: absolute;
  margin-top: 1.7em;
	margin-left: 4em;
}

.card-4 {
	position: absolute;
  margin-top: 0em;
	margin-left: 7em;
}

.card-5 {
	position: absolute;
  margin-top: 1.9em;
	margin-left: 10em;
}

.card-6 {
	position: absolute;
  margin-top: 1.1em;
	margin-left: 2em;
}

.card-7 {
	position: absolute;
  margin-top: .9em;
	margin-left: 4em;
}

.card-8 {
	position: absolute;
  margin-top: .3em;
	margin-left: 3.2em;
}

.card-9 {
	position: absolute;
  margin-top: .5em;
	margin-left: 6em;
}

.card-10 {
	position: absolute;
  margin-top: .1em;
	margin-left: 7em;
}

.card-11 {
	position: absolute;
  margin-top: ;
	margin-left: 3em;
}

.card-12 {
	position: absolute;
  margin-top: 8.3em;
	margin-left: 3.7em;
}

.card-13 {
	position: absolute;
  margin-top: 8.1em;
	margin-left: 3.5em;
}

.card-14 {
	position: absolute;
  margin-top: 7.9em;
	margin-left: 5.5em;
}

.card-15 {
	position: absolute;
  margin-top: 7.7em;
	margin-left: 7.8em;
}

.card-16 {
	position: absolute;
  margin-top: 7.5em;
	margin-left: 14em;
}

.card-17 {
	position: absolute;
  margin-top: 2.1em;
	margin-left: 9.6em;
}

.card-18 {
	position: absolute;
  margin-top: 7.3em;
	margin-left: 10.2em;
}

.card-19 {
	position: absolute;
  margin-top: 2.3em;
	margin-left: 11.6em;
}

.card-20 {
	position: absolute;
  /* last top number */
  margin-top: 8.5em;
	margin-left: 7.5em;
}
.card-21 {
	position: absolute;
  margin-top: 2.5em;
	margin-left: 5.5em;
}
.card-22 {
	position: absolute;
  margin-top: 2.9em;
	margin-left: 3.6em;
}
.card-23 {
	position: absolute;
  margin-top: 3.3em;
	margin-left: 7.7em;
}

.card-24 {
	position: absolute;
  margin-top: 2.7em;
	margin-left: 6.5em;
}

.card-25 {
	position: absolute;
  margin-top: -.1em;
	margin-left: 9.6em;
}

.card-26 {
	position: absolute;
  margin-top: -.5em;
	margin-left: 4.3em;
}

.card-27 {
	position: absolute;
  margin-top: -.3em;
	margin-left: 7em;
}

.card-28 {
	position: absolute;
  margin-top: -.7em;
	margin-left: 8.5em;
}

.card-29 {
	position: absolute;
  margin-top: -.9em;
	margin-left: 9em;
}

.card-30 {
	position: absolute;
  margin-top: 3.1em;
	margin-left: 3.3em;
}

.card-31 {
	position: absolute;
  margin-top: 3.3em;
	margin-left: 2em;
}

.card-32 {
	position: absolute;
  margin-top: 3.5em;
	margin-left: 9.8em;
}

.card-33 {
	position: absolute;
  margin-top: 3.7em;
	margin-left: 1.4em;
}

.card-34 {
	position: absolute;
  margin-top: 3.9em;
	margin-left: 4.3em;
}

.card-35 {
	position: absolute;
  margin-top: 4.1em;
	margin-left: 2.3em;
}

.card-36 {
	position: absolute;
  margin-top: 4.3em;
	margin-left: 2.6em;
}

.card-37 {
	position: absolute;
  margin-top: 6.7em;
	margin-left: 2.8em;
}

.card-38 {
	position: absolute;
  margin-top: 6.9em;
	margin-left: 5.7em;
}

.card-39 {
	position: absolute;
  margin-top: 7.1em;
	margin-left: 9.2em;
}

.card-40 {
	position: absolute;
  margin-top: 4.5em;
	margin-left: 3.6em;
}

.card-41 {
	position: absolute;
  argin-top: 4.7em;
	margin-left: 7.4em;
}

.card-42 {
	position: absolute;
  margin-top: 5.3em;
	margin-left: 3.9em;
}

.card-43 {
	position: absolute;
  margin-top: 5.1em;
	margin-left: 8.6em;
}

.card-44 {
	position: absolute;
  margin-top: 4.9em;
	margin-left: 3.5em;
}

.card-45 {
	position: absolute;
  margin-top: 5.5em;
	margin-left: 6.2em;
}

.card-46 {
	position: absolute;
  margin-top: 5.7em;
	margin-left: 9.4em;
}

.card-47 {
	position: absolute;
  margin-top: 5.9em;
	margin-left: 6.7em;
}

.card-48 {
	position: absolute;
  margin-top: 6.1em;
	margin-left: 8.5em;
}

.card-49 {
	position: absolute;
  margin-top: 6.3em;
	margin-left: 1.7em;
}

.card-50 {
	position: absolute;
  margin-top: 6.5em;
	margin-left: 1.5em;
}

.mobile {
	display: none;
	background-color: black;
	width: 100%;
	height: 1000px;
	color: #F2F2FD;
	position: fixed;

}

.mobile-text {
	padding: 25%;
	padding-top: 45%;

}

/* medium screen */
@media only screen and (min-width: 601px) and (max-width:1000px) {

	/* img {width: 35em;} */
	body {font-size: 80%;}


}


/* small screen */
@media only screen and (max-width: 600px) {

	/* img {width: 25em;} */
	body {font-size: 50%;}

}

/* lg screen */
@media only screen and (max-width: 700px) {


	.mobile {
		display: flex;
	}
	.card {
		display: none;
	}
	.title {
		display: none;
	}



}
